button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background 			: $color__background-button;
	border 				: 1px solid;
	border-color 		: $color__border-button;
	border-radius		: 3px;
	box-shadow 			: inset 0 1px 0 $color__shadow-button-inner, inset 0 15px 17px $color__shadow-button-inner, inset 0 -5px 12px $color__shadow-button-inner-2;
	color 				: $color__text-button;
	@include font-size(0.75);
	line-height 		: 1;
	padding 			: .6em 1em .4em;
	text-shadow 		: 0 1px 0 $color__shadow-button-text;

	&:hover {
		background-color 	: $color__bg-button-hover;
		border-color 		: $color__border-button-hover;
		color 				: $color__text-button-hover;
	}

	&:focus,
	&:active {
		background-color 	: $color__bg-button-focus;
		border-color 		: $color__border-button-focus;
		color 				: $color__text-button-focus;
	}
}