/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";
@import "primary/home";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
@import "primary/entry-meta";

/*--------------------------------------------------------------
## Page Parts
--------------------------------------------------------------*/
@import "global/header";
@import "global/footer";

.wrap {
	max-width 	: $size__max-width;
	margin 		: 0 auto;
	padding 	: 1em;
}