html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */

	/**
	 * Tablet menu - pushing out from left
	 */
	left 		: 0;
	transition 	: all 0.4s ease;

	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
		&.toggled {
			left 		: $size__menu_width;
			overflow-x 	: hidden;
		}
	}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color 	: $color__background-hr;
	border 				: 0;
	height 				: 1px;
	margin-bottom 		: 1.5em;
}

img {
	height 		: auto; /* Make sure images are scaled correctly. */
	max-width 	: 100%; /* Adhere to container width. */
}
