.main-navigation {
	clear			: both;
	display			: block;
	float			: left;
	width			: 100%;

	ul {
		@extend %listreset;
		display 	: none;
		text-align 	: left;

		@media only screen and (min-width: $bp__menu-button+1) {
			display 	: block;
			text-align	: center;
		}

		ul {
			background-color: $color__bg-menu-item-mobile;
			display			: inherit;

			@media only screen and (min-width: $bp__menu-button+1) {
				box-shadow	: 0 3px 3px rgba(0, 0, 0, 0.2);
				left 		: 0;
				opacity 	: 0;
				position	: absolute;
				transition 	: visibility 0s ease 0.5s,opacity 0.5s ease;
				visibility 	: hidden;
				z-index		: 99999;
			} // breakpoint

			ul {

				@media only screen and (min-width: $bp__menu-button+1) {
					left: 100%;
					top	: 0;
				}

				a {
					@media only screen and (max-width: $bp__menu-button) {
						border-left : none;
						padding 	: 0.5em 3em;
					}
				}
			}

			a {
				@media only screen and (max-width: $bp__menu-button) {
					padding: 0.5em 2em;
				}

				@media only screen and (min-width: $bp__menu-button+1) {
					color 		: $color__text-submenu;
					white-space : nowrap;
				}
			}

			li {

				&:last-child {

					@media only screen and (max-width: $bp__menu-button) {
						padding-bottom: 0;
					}
				}

			}
		} // .submenu ul
	} // first-level ul

	li {

		@media only screen and (min-width: $bp__menu-button+1) {
			display 	: inline-block;
			position 	: relative;
		}

		&:hover,
		&.focus {

			> ul {
				@media only screen and (min-width: $bp__menu-button+1) {
					display 	: block;
					opacity 	: 1;
					visibility 	: visible;
				}
			}

			> a {
				background-color: $color__bg-menu-item-mobile;
				color 			: $color__text-menu-mobile-hover;

				@media only screen and (min-width: $bp__menu-button+1) {
					color: $color__text-menu-hover;
				}
			}

		}
	}

	a {
		color 			: $color__text-menu-mobile;
		display			: block;
		padding 		: 0.5em 1em;
		text-decoration	: none;

		@media only screen and (min-width: $bp__menu-button+1) {
			color: $color__text-menu;
		}

		&:focus {
			outline-color: $color__outline-menu-link;
		}
	}

	.current_page_item,
	.current-menu-item,
	.current-menu-parent,
	.current_page_ancestor {

		@media only screen and (min-width: $bp__menu-button+1) {
			background-color: $color__bg-menu-current;
		}

		> a {
			color: $color__text-menu-current;
		}

		&:hover,
		&.focus {

			> a {
				color: $color__text-menu-current-hover;
			}
		}
	}

	&.toggled {

		.nav-menu {
			@extend %menutoggle;
		}

		.menu-main-menu-container {
			@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
				transform: translateX(0);
			}

		}

		.menu-toggle {
			right: $size__menu_width;
		}
	}
} // .main-navigation

// Center Menu
.menu-main-menu-container {
	margin		: 0 auto;

	/**
	 * Tablet menu - slide in from left - on top or pushing content
	 */
	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
		background-color: $dark;
		bottom 			: 0;
		height 			: 100%;
		left 			: 0;
		overflow 		: auto;
		position 		: fixed;
		top 			: 0;
		transform 		: translateX( -$size__menu_width);
		transition 		: transform 0.4s ease;
		width 			: $size__menu_width;
		z-index 		: 9999;

		.admin-bar & {
			padding-top: $size__wp-admin-bar-1;

			@media only screen and (min-width: $bp__admin-bar-1) {
				padding-top: $size__wp-admin-bar-2;
			}
		}
	}
}


/* Small menu */
.menu-toggle {
	@extend %menutoggle;

	@media only screen and (min-width: $bp__tablet) and (max-width: $bp__laptop) {
		background-color: $color__bg-menu-button;
		color 			: $color__text-menu-button;
		position 		: absolute;
		right 			: 0;
		width 			: 200px;
		z-index 		: 99;
	}

	@media only screen and (min-width: $bp__menu-button+1) {
		display 		: none;
	}
}

.children-caret {
	display 	: inline-block;
	height 		: 0.75em;
	margin-left : 0.25em;
	width 		: 0.75em;
}
